div.LOVE{
    width: 400px;
    height: 400px;
    background-color: rgb(0, 0, 0);
    padding: auto;
   margin: auto;
   
   
  
   
    
    
  
}

li{
    width: 65px;
    height: 40px;
    color: white;
    text-align: center;
    text-transform: capitalize;
    display:inline-block;
    padding-top: 15px;
    margin-top: 20px;
    margin-inline-start: 15px;
    border: 1px solid white;
    border-radius: 50px;
    
   



    
}
